/aclocal.m4
/autom4te.cache
/config.h*
/config.log
/config.status
/stamp-h1
/configure
/depcomp
/install-sh
/missing

/tools/dcsync
/tools/dcvyper
/tools/dcparse

Makefile.in
Makefile
*~
*.o
*.a
.deps
